<!DOCTYPE html>
<html lang='en-ca'>
<head>
  <meta charset='utf-8'>
  <title>Pelicons</title>
  <meta name="description" content="The works of a Graphic Designer who simply loves creating.">
  <meta name='viewport' content='width=device-width,initial-scale=1'>
  <!-- CSS -->
  <link href='{{site.baseurl}}/css/site.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.typekit.net/wvn0fhw.css">
</head>
<body>
  {{content}}
</body>
<script type="text/javascript" src="{{base.url}}/js/script.js"></script>
</html>